@media screen and (max-width:375px) {
    #mainContainer{
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
        padding: 10px;
        max-width: 80%;
        border-style: groove;
        box-shadow: 10px 10px;
        border-color: black;
    }
    svg{
        width: 100%;
    }
    body{
        background-color: hsl(47, 88%, 63%);
        display: flex;
        align-content: center;
        justify-content: center;
        
    }
}
@media screen and (min-width:375px){
    #mainContainer{
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
        padding: 20px;
        max-width: fit-content;
        border-style: groove;
        box-shadow: 10px 10px;
        border-color: black;
    }
    body{
        background-color: hsl(47, 88%, 63%);
        display: flex;
        align-content: center;
        justify-content: center;
    }
}




#image{
    justify-content: center;
    align-items: center;
}
#tag{
    align-content: center;
    text-align: center;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: start;
    max-width: fit-content;
    padding: 5px 10px;

}
#published{
    max-width: fit-content;
    margin-bottom: 10px;
}
h1{
    max-width: fit-content;
    font-size: 23px;
}
#description{
    
    color:hsl(0, 0%, 50%);
    font-size: 16px;
    max-width: 17em;
}
#author{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
}
a{
    text-decoration: none;
    color: black;
}
.attribution{
    max-width: 15em;
}